{% extends "notes/index.html" %}

{% block body %}
<p><b>Diaries</b></p>
<ul>
  <li>
    <i>The Power of Habit</i>: I have been recently trying to understand the causes of laziness and the ways to overcome it. A steady state of life leads to a more productive way of living your life. And, to attain a steady state you'll need to practice the 'Scheduling Algorithm of Life'. But, ofcourse randomness is also the source of finding new ways to an exciting and productive life, once in a while you'll need to break free and look for whats beyond your horizon. Let me talk more about finding a steady state in life.
    <p>This is how I am trying to maintain a steady state:
      <li>Wake up early in the morning.(Sync your clock with the Sun and productivity will flow automatically).</li>
      <li>Maintain a calendar for your day-to-day activities.[Preference- Thunderbird]</li>
      <li>Have a clear picture of your objectives and sort them by priority.</li>
      <li>Contribute/Donate to any organisation that is serving towards your passion. For me: OpenStreetMap(Connecting the world), SOS Childrens Village(Education for all).</li>
      <li>Read. Read. Read. A book/novel of your liking EVERYDAY.</li>
      <li>Last but not the least, spend time with your loved ones.</li>
    </p>
  </li>
  </ul>
      
{% endblock body %}
